/* =================
    Reset 
   ================= */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

/* =================
    Typography 
   ================= */

.container {
  /* max-width: 1200px;  */
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
/* =================
    Header 
   ================= */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.logo-title-container {
  color: #0e0e0e;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo-title-container img {
  margin-right: 0.125em;
}

.logo-title-container span {
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

header nav ul {
  display: flex;
  gap: 2em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  text-decoration: none;
  color: #090909;
  font-size: 0.75rem;
  font-weight: 600;
}

/* =================
    Main 
   ================= */

/* =================
    Featured Post 
   ================= */
.featured-post {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.31) 0%,
      rgba(0, 0, 0, 0.31) 100%
    ),
    url("./img/hero-img.png") lightgray 0px -255.741px / 100% 188.396% no-repeat;
  /* background-size: cover; */
  color: #fff;
  padding-top: 5.5em;
  padding-bottom: 1.5em;
}

background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.31) 0%,
    rgba(0, 0, 0, 0.31) 100%
  ),
  url(<path-to-image>) lightgray 0px -255.741px / 100% 188.396% no-repeat;

.featured-date {
  color: #fff;
  font-size: 0.75rem;
}

.featured-post h1 {
  font-size: 2rem;
  font-weight: 700;
}

.featured-description {
  color: #fff;
  font-size: 1rem;
}
/* =================
    Articles 
   ================= */

/* =================
    Footer 
   ================= */
footer {
  background: #202020;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  padding-top: 3em;
  padding-bottom: 3em;
}

.footer-title {
  color: #ececec;
}

.footer-copy {
  color: #d7d7d7;
  font-weight: 400;
}
